.calculator {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    background-color: #ecf3f3;
    border: 1px solid #c2d3d3;
    border-radius: 30px;
    margin: 10vh auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #c2d3d3;
    animation-name: calculator;
    animation-duration: 1s;
}

.buttons-wrapper {
    padding: 15px 0;
}

.row {
    display: flex;
    justify-content: center;
    margin: 2px auto;
}

.btn {
    height: 45px;
    width: 65px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.number {
    border: 1px solid #FF3D00;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #6e7575;
    transition: all 100ms;
}

.number:hover {
    color: #6e7575;
}

.number:active {
    color: #ecf3f3;
    font-size: 22px;
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
}

.symbol {
    color: #FF3D00;
    font-weight: 400;
}

.symbol:hover {
    color: #FF3D00;
}

.symbol:active {
    font-size: 20px;
}

.large {
    font-size: 24px;
    font-weight: 300;
}

.large:active {
    font-size: 30px;
}

.equally-wrapper {
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 3px;
}

.equally {
    height: 45px;
    width: 45px;
    background-color: #FF3D00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #ecf3f3;
    font-size: 20px;
    transition: all 90ms;
}

.equally:hover {
    color: #ecf3f3;
}

.equally:active {
    height: 50px;
    width: 50px;
    justify-content: center;
    color: #ecf3f3;
    font-size: 24px;
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
}

.delete-icon {
    height: 13px;
    width: 16px;
}

.delete-icon:active {
    height: 15px;
    width: 19px;
}

@keyframes calculator {
    from {opacity: 0;}
    to {opacity: 1;}
}
