.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FF3D00;
    padding-top: 10px;
}
