.themes {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: center;
}

.fa-moon-o {
    color: #6e7575;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.icon-sun {
    cursor: pointer;
}
